<h1>This resource has been archived, or just moved to another location</h1>
<p>
    Please <a href="{{ site.data.settings.home }}">go to home page</a> or contact with the owner
</p>

<h2>Contact us</h2>
<div>
    {% if site.data.settings.contactUs.ownerName %}
    <p>{{site.data.settings.contactUs.ownerName}}</p>
    {% endif %}

    {% if site.data.settings.contactUs.ownerEmail %}
    <p>{{site.data.settings.contactUs.ownerEmail}}</p>
    {% endif %}

    {% if site.data.settings.contactUs.supportEmail %}
    <p>{{site.data.settings.contactUs.supportEmail}}</p>
    {% endif %}
</div>

You will be redirected automatically after <b id="timeRemaining"></b> seconds

<script>
    (function () {
        let nativeSetTimeout = window.setTimeout;

        window.bindTimeout = function (listener, interval) {
            function setTimeout(code, delay) {
                let elapsed = 0,
                    h;

                h = window.setInterval(function () {
                    elapsed += interval;
                    if (elapsed < delay) {
                        listener(delay - elapsed);
                    } else {
                        window.clearInterval(h);
                    }
                }, interval);
                return nativeSetTimeout(code, delay);
            }

            window.setTimeout = setTimeout;
            setTimeout._native = nativeSetTimeout;
        };
    }());
    window.bindTimeout(function (t) {
        let element = document.getElementById("timeRemaining");
        element.innerText = (t / 1000);
    }, 1000);
    window.setTimeout(function () {
        window.location.href = "{{ site.path }}{{ site.data.settings.home }}";
    }, 8000);
</script>
