<h1>This resource has been archived, or just moved to another location</h1>
<p>
    Please <a href="{{ site.data.settings.home }}">go to home page</a> or contact with the owner
</p>

<h2>Contact us</h2>
<div>
    {% if site.data.settings.contactUs.ownerName %}
    <p>{{site.data.settings.contactUs.ownerName}}</p>
    {% endif %}

    {% if site.data.settings.contactUs.ownerEmail %}
    <p>{{site.data.settings.contactUs.ownerEmail}}</p>
    {% endif %}

    {% if site.data.settings.contactUs.supportEmail %}
    <p>{{site.data.settings.contactUs.supportEmail}}</p>
    {% endif %}
</div>

<h1>You will be redirected automatically after 10 seconds</h1>

<script>
    setTimeout(() => {
        window.location.href = "{{ site.path }}{{ site.data.settings.home }}";
    }, 8000)
</script>
