<nav class="menuLinks">
    {% for page in site.pages %}
    {% if page.options.menuItem %}
    <div class="menu-item">
        <a href="{{ site.path }}{{ page.url }}">{{ page.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
</nav>

<style>
    .menu-item {
        margin-left: 1.5rem;
    }

    .menuLinks {
        padding-left: 1.5rem;
        box-sizing: border-box;
        white-space: nowrap;
        font-size: .9rem;
        position: absolute;
        right: 1.5rem;
        top: 0;
        display: flex;
    }
</style>
