<div class="sidenav">
    {% if site.data.settings.hasHeader %}
    <header class="masthead">
        <b class="masthead-title {{ site.data.settings.headerType }}-{{ site.data.settings.headerSize }}}">
            <a href="{{ site.path }}{{ site.data.settings.home }}">{{ site.title }}</a>
        </b>
    </header>
    {% endif %}
    {% for page in site.pages %}
    {% if page.options.menuItem %}
    <div>
        <a href="{{ site.path }}{{ page.url }}">{{ page.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<style>
    .sidenav {
        height: 100%;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 22px;
        color: rgba(3, 3, 3, 0.99);
        display: block;
    }

    .sidenav a:hover {
        color: rgb(62, 62, 62);
    }
</style>
