{% if page.options.toc %}
<aside class="sidenav toc">
    <div class="on-this-page">
        <b class="m-2 h6">On this page</b>
        {% include toc.html html=content %}
    </div>
</aside>

<style>
    .page_content {
        padding-left: 4.2rem;
    }

    .on-this-page {
        margin-top: 1.6rem !important;
        margin-left: 0.8rem;
    }

    .sidenav.toc {
        font-size: 16px;
        background-color: #fff;
        width: 16rem;
        position: fixed;
        z-index: 10;
        margin: 0;
        top: 2.28rem;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        border-right: 1px solid #eaecef;
        overflow-y: auto;
    }

    .sidenav.toc a {
        padding: 6px 4px 2px 6px;
        text-decoration: none;
        font-size: 16px;
        color: rgba(3, 3, 3, 0.99);
        display: block;
    }

    .sidenav.toc a:hover {
        color: rgb(62, 62, 62);
    }

    .sidenav.toc ul {
        padding-left: .8rem !important;
        list-style-type: none;
    }
</style>
{% endif %}
