<!--
    LOCAL STYLE SHEET
    -->
<style>
    html {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 1.5;
    }
    body {
        color: #515151;
        background-color: #fff;
    }
    a, a:hover, a:focus {
        color: #268bd2;
        text-decoration: none !important;
    }
    a strong, a:hover strong, a:focus strong {
        color: inherit;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        line-height: 1.25;
        color: #313131;
        text-rendering: optimizeLegibility;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    h3 {
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }
    h4, h5, h6 {
        margin-top: 1rem;
        font-size: 1rem;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    strong {
        color: #303030;
    }
    ul, ol, dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin-bottom: 0.5rem;
    }
    code, pre {
        font-family: Menlo, Monaco, "Courier New", monospace;
    }
    code {
        padding: 0.25em 0.5em;
        font-size: 85%;
    }
    pre {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 0.8rem;
        line-height: 1.4;
        background-color: #f9f9f9;
    }
    pre code {
        padding: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }
    blockquote {
        padding: 0.5rem 1rem;
        margin: 0.8rem 0;
        color: #7a7a7a;
        border-left: 0.25rem solid #e5e5e5;
    }
    blockquote p:last-child {
        margin-bottom: 0;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 0 0 1rem;
        border-radius: 5px;
    }
    table {
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid #e5e5e5;
        border-collapse: collapse;
    }
    table td, table th {
        padding: 0.25rem 0.5rem;
        border: 1px solid #e5e5e5;
    }
    table tr:nth-child(odd) td, table tr:nth-child(odd) th {
        background-color: #f9f9f9;
    }
    .container {
        max-width: 38rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .inner-container {
        padding: 2rem 2.5rem;
    }
    .page h1, h2, h3, h4, h5, h6 {
        margin-top: -2.6rem !important;
        padding-top: 3.6rem !important;
    }
    /* Responsive columns layout */
    .icon .outbound {
        color: #aaa;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    .page-edit {
        color: #4e6e8e;
    }
    .page-edit .edit-link {
        text-decoration: none;
        display: inline-block;
    }
    .masthead {
        border-bottom: 1px solid #eaecef;
        background-color: #fff;
        line-height: 2.2rem;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .masthead .masthead-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1rem;
        color: #505050;
    }
    .masthead .masthead-title a {
        color: #505050;
    }
    .masthead .masthead-title small {
        color: #c0c0c0;
        font-size: 75%;
        font-weight: 400;
        letter-spacing: 0;
    }

</style>
<!--
SCRIPT CDNs
-->
<!-- BOOTSTRAP 5.x -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!-- ANCHOR JS 4.x -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<!-- EASTEREGG.JS 1.x -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js"></script>
<!-- JQUERY 3.x -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
