<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include script/main.html %}
    {% include script/anchorHighlighting.html %}
</head>
{% if page.options.archived %}
{% include archiveMessage.html %}
{% else %}

<body class="container {% if page.settings.toc %} me-0 {% endif %}">
{% if site.settings.hasHeader %}
<header class="masthead">
    <b class="masthead-title h4">
        <a href="{{ site.path }}{{ site.settings.home }}">{{ site.title }}</a>
    </b>

    {% include menu.html %}
</header>
{% endif %}

{% include tocMenu.html %}

<main class="page_content">
    <div class="inner-container">
        {{ content }}
        {% include footer.html %}
    </div>
</main>
</body>
{% endif %}

{% if site.settings.devTool %}
<script>
    let simpleEgg = new Egg();
    let eggsecutionKey = '{{ site.settings.devTool.key }}'.split("");
    simpleEgg
        .addCode(eggsecutionKey, egg)
        .addHook(eggHook)
        .listen();

    function egg() {
        console.log("Simple Egg Has Been Spawned");
    }

    function eggHook() {
        console.log("Hook called for: " + this.activeEgg.keys);
        console.log(this.activeEgg.metadata);
    }
</script>
{% endif %}
</html>
