<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css">
</head>
{% if page.options.archived %}
{% include archiveMessage.html %}
{% else %}
<body class="container">
<div class="columns">
    <div class="column">
        {% include menu.html %}
    </div>

    <div class="content">
        {{ content }}
    </div>

    <div class="column">
        {% include tocMenu.html %}
    </div>
</div>
</body>
{% endif %}
</html>
