---
layout: default
---

<article class='post'>
    <h1 class='post-title'>{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
    {{ content }}
</article>

<style type="text/scss">
  .topic {
    margin-bottom: 4em;

    // note: only change margin for title,date if inside post block
    .topic-title {
      margin-top: 0;
    }

    // Meta data line below post title
    .topic-date {
      display: block;
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
  }

  .topic-title,
  .topic-title a {
    color: $post-title-color;
  }

  .topic-date {
    color: $post-date-color;
  }
</style>

